/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  color: #2c3e50;
}

h2, h3 {
  margin: 0;
}

.calculator {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  color: #8e3a8a;
  font-size: 24px;
  font-weight: 600;
}

input[type="number"]{
  width: 95% !important;
}
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #dcdde1;
  font-weight: bold;
  border-radius: 8px;
  font-size: 16px;
  background-color: #ecf0f1;
  color: #2c3e50;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="number"]:focus,
select:focus {
  border-color: #8e3a8a;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
  outline: none;
}

h3 {
  margin-top: 20px;
  font-size: 22px;
  color: #8e3a8a;
  font-weight: bold;
}

span {
  color: #8e3a8a;  
  font-weight: bold;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

/* Responsive Design */
@media (max-width: 480px) {
  .calculator {
    padding: 20px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }
}
